AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
ColumnLimit: 120
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: false
IndentWidth: 4
